body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  display: block;
}
/*=================HEADER================*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
 
}
.active-nav-link{
   color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   position: relative;

 
}
.active-nav-link::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.page-footer {
  background-color: #2e2f42;
}

/* ============== hero section 1 ============*/

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  background-color: #2e2f42;
  margin: 0 auto;
}

.hero-title {
  max-width: 496px;
  text-align: center;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
}

.hero-button {
  min-width: 169px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;

  display: block;

  height: 56px;
  border-radius: 4px;
  border: none;
  text-align: center;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  margin: 0 auto;
  margin-top: 48px;
  gap: 10px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/*=================Lorem section 2=============*/

.lorem {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.lorem-list {
  display: flex;
  gap: 24px;
}

.lorem-item {
  width: calc((100% - 72px) / 4);
}

.lorem-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /* padding-bottom: 8px;  */
}

.lorem-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.icons-lorem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

/*========<section   our team 3  >=========*/

.about-our-team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.images-lisl {
  display: flex;
  gap: 24px;
}

.lorem-subtitle-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}

.lorem-team-text {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 8px 0;
}

.list-one {
  background: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.name-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.images-teams {
  display: block;
  max-width: 100%;
  height: auto;
}
.social-media-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.media-icons {
  width: 40px;
  height: 40px;
}

.media {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.media:hover,
.media:focus {
background-color: #404bbf;
}

 

.icons-link {
  fill: #f4f4fd;
}

/*========portfolio 4 =======*/

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.our-team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-ul {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #fff;

}


.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  
}

.portfolio-box {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}

.paragraf {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-item:hover .paragraf {
  transform: translateY(0%);
}
.portfolio-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
 
}

.portfolio-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.lorem-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.lorem-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ======== footer  ========  */

.container-footer {
  display: flex;
  align-items: baseline;
}
.logo-paragraf {
  margin-right: 120px;
}

.footer-paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  display: flex;
}

.page-footer {
  padding: 100px 0;
}

.sales {
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-ul {
  justify-content: center;
  display: flex;
  gap: 16px;
}

.footer-li {
  width: 40px;
  height: 40px;
}
.footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.footer-icons {
  flex-direction: column;
  display: flex;
 
}


.footer-link:hover, 
.footer-link:focus {
  background-color: #31d0aa;
}
.footer-subscribe{
  margin-left: auto;
}
.subscribe-form{
  display: flex;
  gap: 24px;
}

.footer-form-input{
  padding-left: 16px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #ffffff; 
  width: 264px;
  height: 40px;
  color: #ffffff;
  outline: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-input::placeholder{
  color: color #ffffff; 
}
.footer-form-input:focus{
  border-color: #31d0aa;
}

.button-form-footer{
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  fill: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-form-footer:focus{
  background-color: 
  #31d0aa;

}

.footer-icon-form{
  margin-left: 16px;
}
.subscribe-label{
 font-size: 16px;
 color: #FFFFFF;
  text-align: center;

}
.footer-subscribe-text{
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.02em; 
  color: #ffffff;

}

/* =========MODAL========= */ 

.backdrop{
  position: fixed;
  top:0;
  left:0;

  width: 100%;
  height: 100%; 
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}


.modal{
  position:absolute;
  top:50%;
  left:50%;

  width:408px ;
  min-height: 584px; ;
  border-radius: 4px;

  transform: translate(-50%, -50%);
box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14), 
0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
 background-color: #fcfcfc;

 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 72px 24px 24px 24px;
}
.modal-field-div{
  margin-bottom: 8px;
}
.backdrop:not(.is-open) .modal{
  transform: translate(-50%, -100%);
}


.modal-type-btn{
  position: absolute; 
 display: flex;
  margin-left: auto;
  top: 24px; 
  right: 24px;
  width: 24px;
  height: 24px;
align-items: center;
justify-content: center;

 padding: 0;
 cursor: pointer;
border-radius: 50%;
color: #2E2F42;
border: 1px solid rgba(0, 0, 0, 0.1); 
background-color: #e7e9fc; 

transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-type-btn:hover, 
.modal-type-btn:focus {
   background-color: #404BBF; 
   fill: #ffffff; 
   border: none; 
}

.modal-title{
  font-weight: 500; 
  letter-spacing: 0.02em;
  width: 100%;
  line-height: 24px;
  font-weight: 500px;
  font-size: 16px; 
  text-align: center;
  color: #2E2F42;
  margin-bottom: 16px;
}
.modal-field{
margin-bottom: 8px; 
}

.modal-input{
 width: 100%;
background-color: transparent;
border: 1px solid rgba(46, 47, 66, 0.4); 
border-radius: 4px;
width: 360px;
height: 40px;
padding-left: 38px;
padding-right: 38px;

outline: transparent;
color:  #2E2F42 40%;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover{
  border-color: #4D5AE5;
}
.modal-input:focus + .modal-icon{
fill: #4D5AE5;
}

.form-label{

 font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
  margin-right: auto;

}

.modal-icon{
  fill: transparent;
  position: absolute;
 fill: #2E2F42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 

  
  

}

.modal-icon-btn{
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.modal-comment{
  border-radius: 4px;
  width: 100%;
  width: 360px;
height: 138px;
margin-bottom: 8px;
padding-top: 8px;
padding-left: 16px;
outline: transparent;
resize: none;
height: 120px; 
font-size: 12px;
line-height: 1.17; 
letter-spacing: 0.04em;
 color: rgba(46, 47, 66, 0.4);
 border: 1px solid rgba(46, 47, 66, 0.4);
 background-color: transparent;
padding: 8px 16px; 
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-comment:focus,
.modal-comment:hover{
 border-color: #4D5AE5;

}

.modal-comment::placeholder{
  font-size: 12px;
  color: #2E2F42 40%;
}
.modal-field-wrap{
  position: relative;
}

/* .modal-field{
  margin-bottom: 16px;
  
} */
.modal-field-checkbox{
  margin-bottom: 24px;
}


.modal-comment-div{
  margin-bottom: 16px;
}



.check-text{ 
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
 border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 justify-content: center; 
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
fill: transparent;
}
.modal-check-text{
  
font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: #8E8F99;

align-items: center;
gap: 8px;
}
.modal-check:checked + .modal-check-text span{
  background-color: #404BBF;
border: none;
fill: #F4F4FD;

} 
.privacy-policy-link{
  text-decoration: underline;
  color: #4D5AE5;

}
 .modal-submit-button{
  min-width: 169px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;

  display: block;

  height: 56px;
  border-radius: 4px;
  border: none;
  text-align: center;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  margin: 0 auto;
  margin-top: 48px;
  gap: 10px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit-button:hover, 
.modal-submit-button:focus {
   background-color: #404bbf;
}
/* input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
} */